.WindowInnerPadding
{
	padding: 10px;
}


.Main
{
	padding: 	10px;
}

.WindowButtons
{
	margin: 0px;
	padding:	5px;
}

.Label
{
	width: 75px;
}

.Image
{
  -moz-appearance: textfield;
  cursor: text;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

.ItemImage {
  -moz-appearance: textfield;
  cursor: text;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

.SettingsMenuItem
{
	padding: 5px;
	
	

}

.SettingsHeader
{
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;

	border: 1px solid;
	border-color: #bbb;
	
	background: #ffffff;
	
}

.SettingsHeader label
{
	margin: 8px;

	font-size: 17px;
	font-weight: bold;
}


.PrintCatalogTable
{
	width: 210mm;
	height: 297mm;
	border: solid;


}