/* --------------------------------------------------------------------------------------------------------------
Body
-------------------------------------------------------------------------------------------------------------- */
body 
{
	margin:							0px;		
}

.Clear
{
	clear:							both;
}


.Header
{
	top: 0px;
		
	padding-bottom: 10px;
	
	text-align: center;
	
	font-size: 14px;
	font-weight: bold;
}

.Footer
{
	position:			absolute;
		
	bottom: 			-30px;	
	
	width: 200mm;
	
	text-align: center;
	
	font-size: 14px;
	font-weight: bold;
}

.ContainerA4
{		
	position:			relative;

	width: 				200mm; 
	height: 			287mm; 
	
	page-break-after:	always; 
	display: 			block;
}

.Table, td, th
{
	padding: 0px;
	margin: 0px;
	
	width: 100%;
	
	border-collapse:collapse;
	
	border: 1px solid black;
	
	font-size: 14px;
}

.InnerTable td
{
	padding: 0px;
	margin: 0px;
	border: none;
}

.InnerTableLabel
{
	font-size: 10px;
	width: 80px;
}

.InnerTableValue
{
	font-size: 10px;
	width: 150px;
}

.ColumnHeader
{
	font-weight:		bold;
}

.CellCatalogNo
{			
	width: 				15mm;
	
	vertical-align: 	top; 
}

.CellDescription
{
	width:				155mm;
	
	vertical-align: 	top; 
}

.CellNotes
{
	width:				15mm;	
	
	vertical-align: 	top; 
}

.CellBid
{
	width:				15mm;	
	
	vertical-align: 	top; 
}

.CellBidder
{
	width:				15mm;	
	
	vertical-align: 	top; 
}